<div class="sidebar sticky">
  <h3>Join us!</h3>

  <p>There are many ways to get involved.</p>

  <h4>Join working groups</h4>

  <p>CASS has working groups on many different topics.</p>

  <p>Contact the chair of <a href="{{ "/working-groups/" | relative_url }}">working groups</a> of interest. Or suggest a new working group to the <a href="mailto:cass-steering-committee@email.ornl.gov">CASS Steering Committee</a>.</p>

  <h4>Connect with CASS members</h4>

  <p>If you're interested in specific areas of the software ecosystem, there may be a CASS member organization actively engaged with that community.</p>

  <p>Reach out to the leadership of the <a href="#current-members-and-leadership">member organization</a>.</p>

  <h4>Become a member of CASS</h4>

  <p>We welcome projects and organizations with similar scientific software stewardship missions to consider joining CASS as a member. DOE sponsorship is <em>not</em> required.
   
  <p>Contact the <a href="mailto:cass-steering-committee@email.ornl.gov">CASS Steering Committee</a>.</p>
</div>