<div class="sidebar sticky">
  <h3>Join us!</h3>

  <p>There are many ways to get involved.</p>

  <h4>Follow us</h4>

  <p>Get updates on CASS events and news.</p>

  <p><i class="fa-solid fa-caret-right"></i> Join our <a href="http://eepurl.com/iRiSnY">announcement list</a>.</p>

  <h4>Join working groups</h4>

  <p>CASS has working groups on many different topics.</p>

  <p><i class="fa-solid fa-caret-right"></i> Contact the <a href="{{ "/working-groups/" | relative_url }}">working group</a> chair. Or <a href="mailto:cass-steering-committee@email.ornl.gov?subject=Working group suggestion">suggest a new working group</a>.</p>

  <h4>Connect with CASS members</h4>

  <p>If you're interested in specific areas of the software ecosystem, there may be a CASS member organization actively engaged with that community.</p>

  <p><i class="fa-solid fa-caret-right"></i> Reach out to the <a href="#current-members-and-leadership">member organization</a>.</p>

  <h4>Become a member of CASS</h4>

  <p>We welcome projects and organizations with similar scientific software stewardship missions to consider membership in CASS. DOE sponsorship is <em>not</em> required.
   
  <p><i class="fa-solid fa-caret-right"></i> Contact the <a href="mailto:cass-steering-committee@email.ornl.gov?subject=Membership interest">CASS Steering Committee</a>.</p>
</div>