{% comment %}
  CHANGES FROM DEFAULT ARCHIVE-SINGLE INCLUDE
  * add definition of date_format, from page__date.html
  * Add outputs for page variables `type`, `series`, `venue`
  * Change h2 to h3 to be consistent with h2s on parent page for Upcoming and Past event headlines
  * Put event date and type/tite/series+venue into <div>s and dislay them side by side
  * Comment out excerpt
  * Accept a `show_time` parameter to show the event time (default: false) 
  * Accept a `show_registration` parameter to show a registration button (default: false)  

{% endcomment %}

{% if include.show_time %}
  {% assign show_time = true %}
{% else %}
  {% assign show_time = false %}
{% endif %}
{% if include.show_registration %}
  {% assign show_registration = true %}
{% else %}
  {% assign show_registration = false %}
{% endif %}

{% assign date_format = site.date_format | default: "%B %-d, %Y" %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

{% include set-display-date startdate=post.startdate enddate=post.enddate insertbr=true %}

<div class="{{ include.type | default: 'list' }}__item">
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork"{% if post.locale %} lang="{{ post.locale }}"{% endif %}>
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src="{{ teaser | relative_url }}" alt="">
      </div>
    {% endif %}

    <div style="display: flex">
      {% comment %}
        Empirically determined width to accommodate a `display_date` for a range
        spanning months ("M1 D1-M2 D2").  This might require some adjustment for
        other display sizes.
      {% endcomment %}
      <div style="width: 25%">
        {% if display_date %}
          <h3 style="margin-top: 0.5em">{{ display_date }}
            {% if show_time and post.time %}<br><span style="line-height: 250%"><small>{{ post.time }}</small></span>{% endif %}
          </h3>
        {% endif %}
        {% if show_registration and post.registration-url %}
          <a class="btn btn--inverse btn--small" href="{{ post.registration-url }}">Register for the Event</a>
        {% endif %}
      </div>

      <div style="width: 75%">
        {% if post.type %}
          <p class="page__meta">{{ post.type }}</p>
        {% endif %}

        <h3 class="archive__item-title no_toc" itemprop="headline" style="overflow: visible; margin-top: 0.25em">
          {% if post.link %}
            <a href="{{ post.link }}">{{ title }}</a> <a href="{{ post.url | relative_url }}" rel="permalink"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
          {% else %}
            <a href="{{ post.url | relative_url }}" rel="permalink">{{ title }}</a>
          {% endif %}
        </h3>

        {%- if post.venue -%}
          <p class="page__meta">Venue: {{ post.venue }}</p>
        {%- endif -%}
        {% if post.location -%}
          <p class="page__meta">Location: {{ post.location }}</p>
        {%- endif -%}
        {% if post.series -%}
          <p class="page__meta">Series: {% include linkify-series.html series=post.series %}</p>
        {%- endif -%}

        {% include page__meta.html type=include.type %}
        {% comment %}
        {% if post.excerpt %}<p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify | strip_html | truncate: 160 }}</p>{% endif %}
        {% endcomment %}
      </div>
    </div>
    <hr>
  </article>
</div>