{% comment %}
  Custom sidebar for event pages

  Displays event date, location, and artifacts
{% endcomment %}
<div class="sidebar">

{% include set-display-date startdate=page.startdate enddate=page.enddate insertbr=true %}

{% if display_date %}
  <h3 style="margin-top: 0.5em">{{ display_date }}
    {% if page.time %}<br><span style="line-height: 250%"><small>{{ page.time }}</small></span>{% endif %}
  </h3>
{% endif %}

<ul style="list-style: none; padding: 0">
  {% capture location_icon %}{% include icon-map-lookup label="Location" %}{% endcapture %}
  {% if page.location %}<li>{{ location_icon }} Location: {{ page.location }}</li>{% endif %}
  {% if page.artifacts %}
    {% include show-resource-links.html links=page.artifacts start_tag="<li>" end_tag="</li>" %}
  {% endif %}
</ul>

{% comment %}
  Show registration link

  If the link is provided and if the event is upcoming
{% endcomment %}

{% if page.enddate %}
  {% include upcoming-event event=page.enddate %}
{% elsif page.startdate %}
  {% include upcoming-event event=page.startdate %}
{% else %}
  {% assign upcoming = false %}
{% endif %}

{% if upcoming and page.registration-url %}
  <a class="btn btn--inverse btn--large" href="{{ page.registration-url }}">Register for the Event</a>
{% endif %}

{% comment %}
  Including here rather than at the bottom of the main content
{% endcomment %}
{% if page.share %}{% include social-share.html compact=true class="btn--small" %}{% endif %}

</div>