{% comment %}
  CHANGES FROM DEFAULT ARCHIVE-SINGLE INCLUDE
  * add definition of date_format, from page__date.html
  * Define default path for teasers and images
  * Comment out default teaser discovery
  * Add discovery of highlight teaser images (not currently used)
  * Add date output above excerpt in list format
  * Change to h3 from h2
  * Change excerpt to count words, truncate at 50 (~3 lines?)

  WISHLIST
  * Display teaser in list layout.  Should be small, aligned right, side by side
    with the text (header and excerpt).
{% endcomment %}
{% assign date_format = site.date_format | default: "%B %-d, %Y" %}
{% assign teaser_path = "/assets/impacts/" %}

{% if post.teaser %}
  {% capture teaser %}{{ post.teaser | prepend: teaser_path }}{% endcapture %}
{% elsif post.slide[0].image %}
  {% capture teaser %}{{ post.slide[0].image | prepend: teaser_path }}{% endcapture %}
{% endif %}

{% comment %}
{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}
{% endcomment %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

{% comment %}
  Identify stories which are featured
{% endcomment %}
{% capture featured_icon %}{% include icon-map-lookup label="Featured" %}{% endcapture %}
{% assign featured = false %}
{% for s in page.featured_stories %}
  {% if post.url contains s %}{% assign featured = true %}{% endif %}
{% endfor %}

{% comment %}
  Extract teaser image
  Could be a real teaser or a slide -- teaser takes priority
{% endcomment %}
{% if post.slide %}
{% assign teaser = post.slide[0].image | prepend: "/assets/impacts/" | relative_url %}
{% endif %}
{% if post.teaser %}
{% assign teaser = post.teaser | prepend: "/assets/impacts/" | relative_url %}
{% endif %}

{% capture sw_icon %}{% include icon-map-lookup label="Software" %}{% endcapture %}
{% capture mentions_heading %}{{ sw_icon }} Software mentioned:{% endcapture %}

<div class="{{ include.type | default: 'list' }}__item">
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork"{% if post.locale %} lang="{{ post.locale }}"{% endif %}>
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src="{{ teaser | relative_url }}" alt="">
      </div>
    {% endif %}
    {% if teaser %}<a href="{{ teaser }}" class="image-popup"><img src="{{ teaser }}" class="align-right" style="max-width: 25%; max-height: 100%"></a>{% endif %}
    <h3 class="archive__item-title no_toc" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}{% if featured %}{{ featured_icon }}{% endif %}</a> <a href="{{ post.url | relative_url }}" rel="permalink"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ post.url | relative_url }}" rel="permalink">{{ title }}{% if featured %}{{ featured_icon }}{% endif %}</a>
      {% endif %}
    </h3>
    {% include page__meta.html type=include.type %}
    {% if post.date %}<p class="archive__item-excerpt" itemprop="date">Date: {{ post.date | date: date_format }}</p>{% endif %}
    {% if post.excerpt %}<p class="archive__item-excerpt clearfix" itemprop="description">
      {{ post.excerpt | markdownify | strip_html | truncatewords: 50 }}</p>{% endif %}
    {% if post.software_mentioned %}<p class="archive__item-excerpt clearfix" itemprop="description">
      {% include show-software-mentioned.html heading=mentions_heading mentions=post.software_mentioned %}</p>{% endif %}
  </article>
</div>