<div class="sidebar sticky">
  {% capture sw_icon %}{% include icon-map-lookup label="Software" %}{% endcapture %}
  {% capture member_icon %}{% include icon-map-lookup label="CASS member" %}{% endcapture %}

  {% if page.software_mentioned %}
  <h3>{{ sw_icon }} Software mentioned</h3>
  <p><em>(Links go to <a href="{{ '/software/' | relative_url }}">software catalog</a>)</em></p>
  <ul style="list-style: none; padding: 0">
    {% for s in page.software_mentioned %}
      {% assign c = site.sw | where: "name", s %}
      {% assign u = c[0].url | relative_url %}
      {% if u %}
        <li><a href="{{ u }}">{{ s }}</a></li>
      {% else %}
        <li>{{ s }}</li>
      {% endif %}
    {% endfor %}
  </ul>
  {% endif %}

  {% comment %}
    Validate values provided for cass_member so we can identify bad data
  {% endcomment %}
  {% if page.cass_members %}
    {% include show-cass-member.html cass_members=page.cass_members %}
  {% endif %}
</div>