<ul class="list-reset lg:flex justify-end flex-1 items-center">
    <li class="mr-3">
        <a class="inline-block py-2 px-4 text-white no-underline toggleColour" href="/sc24">CASS events at SC24</a>
    </li>
    <li class="mr-3">
        <a class="inline-block py-2 px-4 text-white no-underline toggleColour" href="/about">About Us</a>
    </li>
    <!-- <li class="mr-3">
        <a class="inline-block text-black no-underline hover:text-gray-800 hover:text-underline py-2 px-4"
            href="#">link</a>
    </li>
    <li class="mr-3">
        <a class="inline-block text-black no-underline hover:text-gray-800 hover:text-underline py-2 px-4"
            href="#">link</a>
    </li> -->
</ul>