{% comment %}
  Show the CASS member list.
  Used in the highlight and software catalog sidebars.

  Validates member entries and emits red text to call out entries that
  don't match the controlled vocabulary or are missing.

  Parameters
    cass_members: list of CASS members to be displayed (REQUIRED)

  Future enhancements
    Many hardcoded values could become optional parameters:
      member_icon
      heading tags (open, close)
      list tags (open, close)
      item tags (open, close)
      URL to link in header
{% endcomment %}
{% capture member_icon %}{% include icon-map-lookup label="CASS member" %}{% endcapture %}
{% assign cass_members = include.cass_members %}

<h3>{{ member_icon }} <a href={{ "/about/#current-members-and-leadership" | relative_url }}>CASS {{ cass_members.size | pluralize: "member", "members" }}</a></h3>
<ul style="list-style: none; padding: 0">
  {% for cm in cass_members %}
    {% assign members = site.data.organization.members | where: "short_name", cm %}
    {% if members.size == 1 %}
      {% assign m = members[0].short_name %}
    {% else %}
      {% assign m = cm | default: "missing data" | prepend: '<em><font color="red">' | append: '</font></em>' %}
    {% endif %}
    <li>{{ m }}</li>
  {% endfor %}
  </ul>