{% comment %}
  By default, the link the area entries the appropriate 
  anchor on the software-areas page
{% endcomment %}
{% assign links = include.links | default: true %}
{% assign link_target = "/software" %}

<div class="sidebar sticky">

{% comment %}
  Get the icon for areas
{% endcomment %}
{% capture area_icon %}{% include icon-map-lookup label="Area" %}{% endcapture %}

{% assign areas = "" | split: "," %}
{% for s in site.software %}
  {% assign areas = areas | concat: s.areas %}
{% endfor %}
{% assign area_names = areas | group_by_exp: "item", "item" | sort_natural %}

<h3>{{ area_icon }} Areas</h3>
<p><em>Number of products in parentheses.
  Products may appear in multiple areas.</em></p>
<ul style="list-style: none; padding: 0">
{% for a in area_names %}
  {% assign an = a.name %}
  {% if links %}
    {% assign u = an | slugify | prepend: "#" | prepend: link_target | relative_url %}
    {% capture h %}<a href="{{ u }}">{{ an }}</a>{% endcapture %}
  {% else %}
    {% capture h %}{{ an }}{% endcapture %}
  {% endif %}
  {% assign d = site.data.sw-areas-new[ an ].description %}
  <li><strong>{{ h }}:</strong> ({{ a.size }})</li>
  <p><em>{{ d }}</em></p>
{% endfor %}
</ul>

</div>