<div class="sidebar sticky">

{% comment %}
  Get the icon for areas
{% endcomment %}
{% capture area_icon %}{% include icon-map-lookup label="Area" %}{% endcapture %}

{% comment %}
  Assemble the list of software areas actually being used in the catalog
{% endcomment %}

{% assign areas_used = site.sw | map: "area" | uniq %}

{% comment %}
  Convert the short names into full names, remove duplicates, and sort it

  Note that the way we're currently managing the areas, multiple short_names
  can map to the same full name, hence the possible duplications.
{% endcomment %}

{% capture area_names %}{% include sw-areas-lookup values=areas_used input="short_name" output="name" %}{% endcapture %}
{% assign area_names = area_names | strip_newlines | split: "|" | uniq | sort_natural %}

<h3>Topical Areas</h3>
<ul style="list-style: none; padding: 0">
  {% for a in area_names %}
    {% capture d %}{% include sw-areas-lookup values=a input="name" output="description" sep="|" %}{% endcapture %}
    {% assign d = d | strip_newlines | split: "|" | first %}
    <li><strong>{{ area_icon }} {{ a }}</strong></li>
    <p>{{ d }}</p>
  {% endfor %}
</ul>

</div>