{% comment %}
    CHANGES FROM DEFAULT ARCHIVE-SINGLE INCLUDE
    * post.excerpt --> post.description
    * Add area information
{% endcomment %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.name | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.name %}
{% endif %}

<div class="{{ include.type | default: 'list' }}__item">
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork"{% if post.locale %} lang="{{ post.locale }}"{% endif %}>
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src="{{ teaser | relative_url }}" alt="">
      </div>
    {% endif %}
    <h2 class="archive__item-title no_toc" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ post.url | relative_url }}" rel="permalink"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ post.url | relative_url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>
    {% include page__meta.html type=include.type %}
    {% if post.description %}<p class="archive__item-excerpt" itemprop="description">{{ post.description | markdownify | strip_html | truncate: 160 }}</p>{% endif %}

    {% comment %}
      Get the icon for areas
    {% endcomment %}
    {% capture area_icon %}{% include icon-map-lookup label="Area" %}{% endcapture %}
  
    {% comment %}
    `area` is required, so if it isn't present or isn't one of the recognized areas from 
    `_data/sw-areas.yml`, we'll show the heading with a red "missing data" marker.
    {% endcomment %}
    {% capture a %}{% include sw-areas-lookup values = post.area input="short_name" output="name" %}{% endcapture %}
    {% assign a = a | strip_newlines | split: "|" | default: '<em><font color="red">missing data</font></em>' %}
    <p class="archive__item-excerpt" itemprop="area">{{ area_icon }} {{ a }}</p>
  </article>
</div>