<div class="sidebar sticky">
{% comment %}
    Get the icon for areas
{% endcomment %}
{% capture area_icon %}{% include emit-icon-area %}{% endcapture %}

{% comment %}
    `area` is required, so if it isn't present or isn't one of the recognized areas from 
    `_data/sw-areas.yml`, we'll show the heading with a red "missing data" marker.
{% endcomment %}
{% capture a %}{% include sw-areas-lookup values = page.area input="short_name" output="name" %}{% endcapture %}
{% assign a = a | strip_newlines | split: "|" | default: '<em><font color="red">missing data</font></em>' %}
<h3>{{ area_icon }} Area</h3>
<ul style="list-style: none; padding: 0">
    <li>{{ a }}</li>
</ul>

{% if page.e4s_product or page.spack_name %}
    <h2 id="package-links"><i class="fa-solid fa-box-open"></i> Package Links</h2>
    <ul style="list-style: none; padding: 0">
    {% if page.e4s_product %}
    {% assign e4s = page.e4s_product | upcase | prepend: "https://e4s-project.github.io/DocPortal.html?search=" %}
    <li>E4S: <a href="{{ e4s }}">{{ page.e4s_product }}</a></li>
    {% endif %}
    {% comment %}
        Handle the possibility of multiple Spack packages
    {% endcomment %}
    {% if page.spack_name %}
        <li>Spack: 
        {% for name in page.spack_name %}
            {% assign spack = name | prepend: "https://packages.spack.io/package.html?name=" %}
            <a href="{{ spack }}">{{ name }}</a>{% unless forloop.last %},{% endunless %}
        {% endfor %}
        </li>
    {% endif %}
    </ul>
{% endif %}

{% comment %}
    `cass_member` is required, so if it isn't present, we'll show the
    heading with a red "missing data" marker.

    Also, if `cass_member` is not one of the short_names in `site.data.organization`.members, then we display it in red to call out the error.
{% endcomment %}
{% assign members = site.data.organization.members | where: "short_name", page.cass_member %}
{% if members.size != 1 %}
    {% assign m = page.cass_member | default: "missing data" | prepend: '<em><font color="red">' | append: '</font></em>' %}
{% else %}
    {% assign m = members[0].short_name %}
{% endif %}
<h3><i class="fa-solid fa-hand-holding-hand"></i> Supporting Member</h3>
<ul style="list-style: none; padding: 0">
<li><a href={{ "/about/#current-cass-members-and-leadership" | relative_url }}>{{ m }}<a/></li>
</ul>
</div>