<div class="sidebar sticky">
  {% capture status_icon %}{% include icon-map-lookup label="Status" %}{% endcapture %}
  {% capture chair_icon %}{% include icon-map-lookup label="Chair" %}{% endcapture %}
  {% capture meetings_icon %}{% include icon-map-lookup label="Meetings" %}{% endcapture %}

  {% if page.status %}
    <h3 id="status">{{ status_icon }} Status</h3>
    <p>{{ page.status }}{% if page.status_date %} since {{ page.status_date }}{% endif %}</p>
  {% endif %}

  {% if page.chair %}
    <h3 id="chair">{{ chair_icon }} {{ page.chair.size | pluralize: "Chair", "Chairs" }}</h3>
    <ul style="list-style: none; padding: 0">
    {% for chair in page.chair %}
      {% assign c = site.data.people[chair] %}
      {% capture subject %}CASS {{ page.name }} working group interest{% endcapture %}
      <li>{% include people-info.html name=chair link="email" email_subject=subject short_affil=true %}
      </li>
    {% endfor %}
    </ul>
    <p><i class="fa-solid fa-caret-right"></i> Contact {{ page.chair.size | pluralize: "the", "a" }} chair to join the working group</p>
  {% endif %}

  {% if page.meeting_schedule %}
    <h3 id="meetings">{{ meetings_icon }} Meeting schedule</h3>
    <ul style="list-style: none; padding: 0">
      <li>{{ page.meeting_schedule }}</li>
    </ul>
  {% endif %}

</div>