/* Copyright comment */
@import "minimal-mistakes/copyright";

/* Variables */
@import "minimal-mistakes/variables";

/* Mixins and functions */
@import "minimal-mistakes/vendor/breakpoint/breakpoint";
@include breakpoint-set("to ems", true);
@import "minimal-mistakes/vendor/magnific-popup/magnific-popup"; // Magnific Popup
@import "minimal-mistakes/vendor/susy/susy";
@import "minimal-mistakes/mixins";

/* Core CSS */
@import "minimal-mistakes/reset";
@import "minimal-mistakes/base";
@import "minimal-mistakes/forms";
@import "minimal-mistakes/tables";
@import "minimal-mistakes/animations";

/* Components */
@import "minimal-mistakes/buttons";
@import "minimal-mistakes/notices";
@import "minimal-mistakes/masthead";
@import "minimal-mistakes/navigation";
@import "minimal-mistakes/footer";
@import "minimal-mistakes/search";
@import "minimal-mistakes/syntax";

/* Utility classes */
@import "minimal-mistakes/utilities";

/* Layout specific */
@import "minimal-mistakes/page";
@import "minimal-mistakes/archive";
@import "minimal-mistakes/sidebar";
@import "minimal-mistakes/print";

/* A solution to removing the left sidebar space.
   Can be combined with `wide` class.
   Based on https://github.com/mmistakes/minimal-mistakes/issues/1322#issuecomment-571208318 
*/

.no-left-sidebar {
  .page {
    float: left;
    width: 100%;
    @include breakpoint($large) {
      padding-left: 0;
    }

    @include breakpoint($x-large) {
      padding-left: 0;
    }
  }

  .page__related {
    @include breakpoint($large) {
      padding-left: 0;
    }

    @include breakpoint($x-large) {
      padding-left: 0;
    }
  }

  /* Analogous modifications for the archive class */

  .archive {
    width: 100%;
    @include breakpoint($large) {
      float: inline-end;
      padding-inline-end: 0;
    }

    @include breakpoint($x-large) {
      padding-inline-end: 0;
    }
  }

  /* Not part of the solution above, but we also need
     to adjust the breadcrumbs to eliminate the sidebar space too 
  */

  .breadcrumbs {
    ol {
       @include breakpoint($large) {
        float: inline-end;
        width: 100%;
      }

      @include breakpoint($x-large) {
        width: 100%;
      }
    }
  }
}

/* A back-to-top icon that sticks to the bottom right corner.
   MM already has a .back-to-top class, for non-sticky text links.
   So this needs to be different.

   Basic implementation from: https://github.com/mmistakes/minimal-mistakes/issues/1731
   Additional styling ideas based on https://www.fabriziomusacchio.com/blog/2022-06-30-Markdown_back_to_top_button/

   I've experimented with various background colors and white seems best to me.  $light-gray and even $lighter-gray don't
   stand out enough for my taste.  White matches the color used on .btn--inverse.  Though we haven't derived it in the same way.

   HTML side it implemented in _includes/back-to-top-sticky.html, which is included in default.html and controlled
   by a frontmatter setting `back_to_top: true` to make it easy to use or not.

   Room for improvement:
    https://theosoti.com/short/back-to-top/ and https://codepen.io/theosoti/pen/KwdzKGx referenced therein have the
    icon sliding in and out as you start scrolling down, which I kind of like.
*/

.back-to-top-sticky {
  position: fixed;
  bottom: 1em;
  right: 1em;
  z-index: 10;

  display:          inline-flex;
  color:            $muted-text-color;
  cursor:           pointer;
  align-items:      center;
  justify-content:  center;
  margin:           0em 2em 2em 0em;
  border-radius:    50%;
  padding:          .25em;
  width:            2em;
  height:           2em;
  background-color: white;
}