---
layout: archive
---
{% comment %}
    CHANGES FROM DEFAULT COLLECTION LAYOUT
    * Call ev-documents-collection.html include
    * Duplicate calls for upcoming and past events
      - Force forward and reverse `sort_order`
    * Add cutoff argument
{% endcomment %}

{{ content }}

{% assign today = site.time | date:"%Y-%m-%d" %}

{% assign my_entries = site[page.collection] | where_exp: "post", "post.hidden != true" %}

{% if page.series %}
  {% assign my_entries = my_entries | where: "series", page.series %}
{% endif %}

{% include show-event-collection.html entries=my_entries %}
