---
layout: archive
---
{% comment %}
    CHANGES FROM DEFAULT COLLECTION LAYOUT
    * Call ev-documents-collection.html include
    * Duplicate calls for upcoming and past events
      - Force forward and reverse `sort_order`
    * Add cutoff argument
{% endcomment %}

{{ content }}

{% assign today = site.time | date:"%Y-%m-%d" %}

<h2>Upcoming events</h2>
{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include ev-documents-collection.html collection=page.collection sort_by=page.sort_by sort_order="forward" type=entries_layout cutoff=today show_time=true show_registration=true %}
</div>

<h2>Past events</h2>
{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include ev-documents-collection.html collection=page.collection sort_by=page.sort_by sort_order="reverse" type=entries_layout cutoff=today %}
</div>