---
layout: archive
---
{% comment %}
    CHANGES FROM EV-COLLECTION LAYOUT
    * This layout should exactly follow the ev-collection.html layout, EXCEPT
    * We need to fix the collection to be `events` in the body.
      - Unfortunately, the `page.collection` variable gets set to `event-series`
        and I've found no way to override it (frontmatter settings of `collection`
        are ignored.)
{% endcomment %}

{{ content }}

{% assign today = site.time | date:"%Y-%m-%d" %}

{% assign my_entries = site.events | where_exp: "post", "post.hidden != true" %}

{% if page.series %}
  {% assign my_entries = my_entries | where: "series", page.series %}
{% endif %}

<h2>Upcoming events</h2>
{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include ev-documents-collection.html entries=my_entries sort_by=page.sort_by sort_order="forward" type=entries_layout cutoff=today show_time=true show_registration=true %}
</div>

<h2>Past events</h2>
{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include ev-documents-collection.html entries=my_entries sort_by=page.sort_by sort_order="reverse" type=entries_layout cutoff=today %}
</div>
