---
layout: sw-archive
---
{% comment %}
    CHANGES FROM SW-COLLECTION LAYOUT
    * Add code to get area names (and counts)
    * Add code to loop over area names, filter collection, and display subset
{% endcomment %}

{% assign entries = site[page.collection] | where_exp: "post", "post.hidden != true" %}

{{ content }}

{% comment %}
An experiement in filtering the collection (implemented in sw-documents-collection.html)

{% assign filter = "" | split: "," %}
{% assign filter = filter | push: "area|dataviz,dataviz,devtools" %}
{% assign filter = filter | push: "cass_member|PESO" %}
{% endcomment %}

{% comment %}
  Filter collection, if requested

  A filter is an array of pairs of elements.  The first in the pair is the key
  in the collection, the second is the values of interest.  Multiple values should
  be separated by commas.  (Of course this implies that the values cannot *contain* commas.)
{% endcomment %}

{% if filter %}
  {% assign filtered_entries = "" | split: "," %}
  {% for f in filter %}
    {% assign k = f | split: "|" | first %}
    {% assign v = f | split: "|" | last | split: "," %}
    {% for ve in v %}
      {% assign e = entries | where: k, ve %}
      {% assign filtered_entries = filtered_entries | push: e %}
    {% endfor %}
  {% endfor %}
  {% assign entries = filtered_entries | uniq %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}

{% assign areas = "" | split: "," %}
{% for s in site.software %}
  {% if s.areas %}
    {% assign areas = areas | concat: s.areas %}
  {% endif %}
{% endfor %}
{% assign area_names = areas | group_by_exp: "item", "item" | sort_natural %}

{% for a in area_names %}
  {% assign an = a.name %}
  {% assign count = a.size %}
  {% assign filtered_entries = entries | where_exp: "item", "item.areas contains an" %}
  {% if page.sort_by %}
    {% assign filtered_entries = filtered_entries | sort_natural: page.sort_by %}
  {% endif %}
  {% if page.sort_order == 'reverse' %}
    {% assign filtered_entries = filtered_entries | reverse %}
  {% endif %}
  <section id="{{ an | slugify }}" class="taxonomy__section">
    <h2 class="archive__subtitle">{{ an }} <span class="taxonomy__count">({{ count }})</span></h2>
    <div class="entries-{{ entries_layout }}">
      {% for post in filtered_entries %}
        {% include sw-archive-single.html type=entries_layout %}
      {% endfor %}
    </div>
    <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
  </section>
{% endfor %}