---
layout: default
---
{% comment %}}
  CHANGES FROM DEFAULT SINGLE LAYOUT
  * Set date_format based on site config
  * page.title --> page.name
  * page.excerpt --> page.description
  * Copied excerpt code from _include/page__hero.html
  * Added code to display page.long_description and page.target_audience
  * Added Additional resources section
  * Added Highlights section
  * Comment out page__date.html include
  * Add page__edit.html include
  * Incorporate fields from sidebar: area, packages, CASS member
{% endcomment %}
{% assign date_format = site.date_format | default: "%B %-d, %Y" %}

{% capture area_icon %}{% include icon-map-lookup label="Area" %}{% endcapture %}
{% capture package_icon %}{% include icon-map-lookup label="Package links" %}{% endcapture %}
{% capture member_icon %}{% include icon-map-lookup label="CASS member" %}{% endcapture %}
{% capture highlight_icon %}{% include icon-map-lookup label="Highlights" %}{% endcapture %}
{% capture shield_icon %}{% include icon-map-lookup label="Shield" %}{% endcapture %}

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

{% assign breadcrumbs_enabled = site.breadcrumbs %}
{% if page.breadcrumbs != null %}
  {% assign breadcrumbs_enabled = page.breadcrumbs %}
{% endif %}
{% if page.url != "/" and breadcrumbs_enabled %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <article class="page" itemscope itemtype="https://schema.org/CreativeWork"{% if page.locale %} lang="{{ page.locale }}"{% endif %}>
    {% if page.name %}<meta itemprop="headline" content="{{ page.name | replace: '|', '&#124;' | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.description %}<meta itemprop="description" content="{{ page.description | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}">{% endif %}
    {% if page.last_modified_at %}<meta itemprop="dateModified" content="{{ page.last_modified_at | date_to_xmlschema }}">{% endif %}

    <div class="page__inner-wrap">
      {% unless page.header.overlay_color or page.header.overlay_image %}
        <header>
          {% if page.name -%}
          <h1 id="page-title" class="page__title" itemprop="headline">
            <a href="{{ page.url | absolute_url }}" itemprop="url">{{ page.name | markdownify | remove: "<p>" | remove: "</p>" }}</a>
          </h1>
          {% if page.description %}
          <p class="page__lead">{{ page.description | markdownify | remove: "<p>" | remove: "</p>" }}</p>
          {% endif %}
          {%- endif %}
          {% include page__meta.html %}
        </header>
      {% endunless %}

      <section class="page__content" itemprop="text">
        {% if page.toc %}
          <aside class="sidebar__right {% if page.toc_sticky %}sticky{% endif %}">
            <nav class="toc">
              <header><h4 class="nav__title"><i class="fas fa-{{ page.toc_icon | default: 'file-alt' }}"></i> {{ page.toc_label | default: site.data.ui-text[site.locale].toc_label | default: "On this page" }}</h4></header>
              {% include toc.html sanitize=true html=content h_min=1 h_max=6 class="toc__menu" skip_no_ids=true %}
            </nav>
          </aside>
        {% endif %}

        {% if page.area %}
          {% capture a %}{% include sw-areas-lookup values = page.area input="short_name" output="name" %}{% endcapture %}
          {% assign a = a | strip_newlines | split: "|" | default: '<em><font color="red">missing data</font></em>' %}
          {% assign u = a[0] | slugify | prepend: "/software#" | relative_url %}
          <p id="area"><strong>{{ area_icon }} Area:</strong> <a href="{{ u }}">{{ a }}</a></p>
        {% endif %}

        {% if page.cass_members %}
          {% include show-cass-members.html %}
        {% endif %}

        {% if page.long_description %}
        <h2 id="description">Description</h2>
        {{ page.long_description | markdownify }}
        {% endif %}
        {% if page.target_audience %}
        <h2 id="target-audience">Target audience</h2>
        {{ page.target_audience | markdownify }}
        {% endif %}

        {% if page.openssf_bestpractices_id %}
          {% assign project_data = site.data.openssf | where: "id", page.openssf_bestpractices_id %}
          {% if project_data and project_data != empty %}
            <p id="openssf"><strong>{{ shield_icon }} OpenSSF Best Practices badge:</strong> <a href="{{ site.openssf_bp_projects_url }}/{{ page.openssf_bestpractices_id }}">{% include emit_openssf_badge.html project_data=project_data %}</a></p>
          {% else %}
            {% capture link %}{{ site.openssf_bp_projects_url }}/{{ page.openssf_bestpractices_id }}.json{% endcapture %}
            <p id="openssf"><strong>{{ shield_icon }} OpenSSF Best Practices badge:</strong> <font color="red">ERROR: data not available. Please add <a href="{{link }}">{{ link }}</a> to `_data/openssf/`</font></p>
          {% endif %}
        {% endif %}

        {% if page.e4s_product or page.spack_name %}
          <h2 id="package-links">{{ package_icon }} Package links</h2>
          <ul style="list-style: none; padding: 0">
          {% if page.e4s_product %}
            {% assign e4s = page.e4s_product | upcase | prepend: "https://e4s-project.github.io/DocPortal.html?search=" %}
            <li>E4S: <a href="{{ e4s }}">{{ page.e4s_product }}</a></li>
          {% endif %}
          {% comment %}
              Handle the possibility of multiple Spack packages
          {% endcomment %}
          {% if page.spack_name %}
            <li>Spack: 
            {% for name in page.spack_name %}
              {% assign spack = name | prepend: "https://packages.spack.io/package.html?name=" %}
              <a href="{{ spack }}">{{ name }}</a>{% unless forloop.last %},{% endunless %}
            {% endfor %}
            </li>
          {% endif %}
          </ul>
        {% endif %}

        {% if page.additional_resource_links %}
        <h2 id="additional-resources">Additional resources</h2>
        <ul style="list-style: none; padding: 0">
          {% include show-resource-links.html links=page.additional_resource_links %}
        </ul>
        {% endif %}

        {% if page.end_user_resource_links %}
        <h2 id="end-user-resources">End-user resources</h2>
        <ul style="list-style: none; padding: 0">
          {% include show-resource-links.html links=page.end_user_resource_links %}
        </ul>
        {% endif %}

        {% if page.developer_resource_links %}
        <h2 id="developer-resources">Developer resources</h2>
        <ul style="list-style: none; padding: 0">
          {% include show-resource-links.html links=page.developer_resource_links %}
        </ul>
        {% endif %}

        {% comment %}
          Lookup any highlights that mention the product and link to them
        {% endcomment %}
        {% assign highlights = site.impacts | where_exp: "item", "item.software_mentioned contains page.name" | sort: "date" | reverse %}
        {% if highlights.size > 0 %}
        <h2 id="impact-stories">Impact stories</h2>
        <ul style="list-style: none; padding: 0">
          {% for h in highlights %}
          <li>{{ highlight_icon }} <a href="{{ h.url | relative_url }}">{{ h.title }}{% if h.date %} ({{ h.date | date: date_format }}){% endif %}</a></li>
          {% endfor %}
        </ul>
        {% endif %}
        
        {{ content }}
        {% if page.link %}<div><a href="{{ page.link }}" class="btn btn--primary">{{ site.data.ui-text[site.locale].ext_link_label | default: "Direct Link" }}</a></div>{% endif %}
      </section>

      <footer class="page__meta">
        {% if site.data.ui-text[site.locale].meta_label %}
          <h4 class="page__meta-title">{{ site.data.ui-text[site.locale].meta_label }}</h4>
        {% endif %}
        {% include page__taxonomy.html %}
        {% comment %}{% include page__date.html %}{% endcomment %}
        {% include page__edit.html %}
      </footer>

      {% if page.share %}{% include social-share.html %}{% endif %}

      {% include post_pagination.html %}
    </div>

    {% if jekyll.environment == 'production' and site.comments.provider and page.comments %}
      {% include comments.html %}
    {% endif %}
  </article>

  {% comment %}<!-- only show related on a post page when `related: true` -->{% endcomment %}
  {% if page.id and page.related and site.related_posts.size > 0 %}
    {% include page__related.html posts=site.related_posts %}
  {% comment %}<!-- otherwise show recent posts if no related when `related: true` -->{% endcomment %}
  {% elsif page.id and page.related %}
    {% include page__related.html posts=site.posts %}
  {% endif %}
</div>